
/* Global Style
-----------------------------*/
body {
  color: #343434;
}
img {
  width: 300px;
}

/* Profile
-----------------------------*/
header {
  background: #2F3061;
  color: white;
}


/* Projects
-----------------------------*/
.projects {
  background: #F7FFF7;
}


/* Work Experience
-----------------------------*/
.work-experience {
  background: #A1C6D7;
}

/* Contact Info
-----------------------------*/
footer {
  background: #343434;
  color: white;
}
