
/* Global Style
-----------------------------*/
body {
  color: #343434;
}
img {
  width: 300px;
}
a {
  color: orange;
}
a:hover {
  text-decoration: none;
}
/* Profile
-----------------------------*/
header {
  background: #2F3061;
  color: white;
}


/* Projects
-----------------------------*/
.projects {
  background: #F7FFF7;
}
.projects a {
  color: white;
  background: darkblue;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}
.projects a:hover {
  background: rgba(47,48,97,0.8);
}

/* Work Experience
-----------------------------*/
.work-experience {
  background: #A1C6D7;
}

}
.work-experience a:hover {
  text-decoration: none;
}

/* Contact Info
-----------------------------*/
footer {
  background: #343434;
  color: white;

}
